<h1>User Profile</h1>
<table class="center_table">
  <tr>
    <th>
      <b>Email:</b>
    </th>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <th>
      <b>Admin:</b>
    </th>
    <td>
      <%= @user.admin ? "Yes" : "No"%>
    </td>
  </tr>

</table>
