<h1>New User!</h1>

<form action="<%= users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <table class="userform">

    <tr>
      <th><label for="Username">Username</label></th>
      <td><input id="Username" type="text" name="user[username]" value=""></td>
    </tr>
<br>
  <tr>

  <th><label for="Password">Password</label></th>
  <td><input id="Password" type="password" name="user[password]" value=""></td>
</tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Create User" id="Create User"></td>

</tr>
</table>
</form>
