<form action=" <%= users_url %>" method="post">
  <%= render partial: "shared/form_auth" %>
  
  <label for="username">Username</label>
  <input type="text" name="user[user_name]" id = "username" >
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id = "password">
  <br>
  <input type="submit">
</form>
