<% @sessions ||= [] %>
<ul> <% @sessions.each do |ses| %>
    <li>
      <%="You are here #{request.env["HTTP_USER_AGENT"]}" %>
      <%= button_to "Force Quit", force_quit_session_url(ses) %>
    </li>
  <% end %>
</ul>
