<div class="masthead">
  <div class="language-nav">
    <ul >
      <li>
        <a id="language_css" class = "selected_language" href="#">CSS</a>
      </li>
      <li>
        <a id="language_html" href="#">HTML</a>
      </li>
      <li>
        <a id="language_javascript" href="#">Javascript</a>
      </li>
      <li>
        <a id="language_ruby" href="#">Ruby</a>
      </li>
    </ul>
  </div>


  <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <div class="masthead-links">
    <ul>
      <li>
        <time>
          Tuesday, October 18, 2016
        </time>
      </li>
      <li>
        <i class="fa fa-newspaper-o"></i>
        <a href="#">
          Today’s Paper
        </a>
      </li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a href="#">
          Video
        </a>
      </li>
      <li>
        <button type="button" name="button">
          77°F
        </button>
      </li>
      <li>
        <button type="button" name="button">
          AAO <strong>+100%</strong>
        </button>
      </li>
    </ul>
  </div>
</div>
