<div id="search-modal" class="search-modal">
  <div class="search-div">
    <form class="search-form" action="" method="post">
      <input type="text" autofocus="autofocus" name="searchText" value="">
      <input type="submit" name="" value="GO">
    </form>
  </div>
</div>
