<div class="sections-sidebar" id="sections-sidebar">
  <ul>
    <li class="dropdown">
      <a href="#">
        San Francisco
        <ul>
          <li><a href="#">Students</a></li>
          <li><a href="#">Teaching Assistants</a></li>
          <li><a href="#">Instructors</a></li>
          <li><a href="#">Career Advisors</a></li>
          <li><a href="#">Cats</a></li>
        </ul>
      </a>
    </li>

    <li class="dropdown">
      <a href="#">
        Bootcamp Prep
      </a>
      <ul>
        <li><a href="#">Students</a></li>
        <li><a href="#">Instructors</a></li>
        <li><a href="#">Cats</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#">
        Online
      </a>
      <ul>
        <li><a href="#">Immersive</a></li>
        <li><a href="#">Bootcamp Prep</a></li>
        <li><a href="#">Cats</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#">
        Sales
      </a>
      <ul>
        <li><a href="#">Associates</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Cats</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#">
        Alumni
      </a>
      <ul>
        <li><a href="#">Students</a></li>
        <li><a href="#">Companies</a></li>
        <li><a href="#">Opinion</a></li>
        <li><a href="#">Cats</a></li>
      </ul>
    </li>
  </ul>
</div>
