/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
    padding: 5px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

.small-image {
  height: 20px;
  width: auto;
  // background-color: rgb(240, 240, 240);
}

.pokemon-display {
  display: flex;
  // background-color: pink;
}
.pokemon-index {
  width:20%;
  overflow: scroll;
  height:85vh;
  padding-right: 10px;
  // background-color: cornflowerblue;
}

.pokemon-index ul {
  padding: 0px;
  margin: 0px;
}

.pokemon-index li {
  display: flex;
  // background-color: green;
  padding: 5px;
  margin: 0;
  border-top: 1px solid black;
  list-style: none;
  vertical-align: middle;
  position: relative;
}

.pokemon-index li:hover {
  background-color: $light-grey;
  cursor: pointer;
}

.pokemon-index li:last-of-type {
  border-bottom: 1px solid black;
}

.pokemon-index li a {
  text-decoration: none;
  color: black;
  display: table;
  width: 100%;
}

.pokemon-index span {
  display: table-cell;
  vertical-align: middle;
}

.pokemon-id {
  width: 25px;
}

.pokemon-img {
  width: 20px;
}

.pokemon-name {
  width: auto;
}

.pokemon-detail {
  background-color: $light-grey;
  border: 5px solid black;
  border-radius: 15px;
  margin: 5px 30px;
  width: 75%;
}

.large-image-div {
  // background-color: gold;
  width: 80%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  border: 3px solid black;
  border-radius: 10px;

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, yellow, red); /* Standard syntax */
}

.large-image {
  height: 35vh;
  // background-color: cornflowerblue;
}

.pokemon-detail-stats {
  width: 80%;
  // background-color: pink;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 36px;
}
